@media only screen and (max-width:576px) {}

@media only screen and (max-width:992px) {
    header {
        .navbar-brand img {
            height: 100%;
            width: 70%;
        }
        .mobile-overlay {
            background-color: #000000e6;
            position: absolute;
            height: 100vh;
            width: 100%;
            z-index: 9;
            top: 0;
            left: 0;
            transform: translateX(100%);
        }
        .collapse {
            background-color: #fff;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 300px;
            z-index: 88;
            transform: translateX(100%);
            display: block !important;
            ul {
                flex-direction: column !important;
                position: relative;
                z-index: 54;
                background-color: #fff;
                .nav-item {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
                    padding: 14px 20px;
                    width: 100%;
                    &.mobile-logo {
                        text-align: center;
                        .navbar-brand img {
                            width: 43%;
                        }
                    }
                    a.nav-link {
                        color: #000 !important;
                        display: flex;
                        margin: 0 !important;
                        font-size: 16px;
                        text-transform: uppercase;
                        line-height: 24px;
                        &:before {
                            content: '\27A4';
                            color: #e8b01d;
                            line-height: 24px;
                            margin-right: 9px;
                        }
                    }
                }
            }
        }
        &.menu-show {
            .navbar-toggler i {
                color: #000;
                font-size: 30px;
            }
            .mobile-overlay {
                transition: all 0.7s ease;
                transform: translateX(0%);
            }
            .collapse {
                transform: translateX(0%);
                transition: all 0.7s ease 500ms;
            }
        }
        .navbar-toggler {
            position: relative;
            z-index: 100;
            width: 100%;
            padding: 0;
            span {
                margin-left: auto;
            }
            i {
                color: #fff;
                font-size: 25px;
            }
        }
        nav.navbar {
            .navbar-collapse {
                display: none;
            }
        }
    }
}

@media only screen and (min-width:992px) {
    .navbar-toggler {
        display: none;
    }
}