@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@-webkit-keyframes up-down {
  0% {
    bottom: -10pc;
  }
  50% {
    bottom: -7pc;
  }
  100% {
    bottom: -10pc;
  }
}
@keyframes up-down {
  0% {
    bottom: -10pc;
  }
  50% {
    bottom: -7pc;
  }
  100% {
    bottom: -10pc;
  }
}

.up-down {
  position: relative;
}

.up-down:before {
  position: absolute;
  height: 22pc;
  width: 22pc;
  bottom: -10pc;
  left: -11%;
  content: '';
  background: url("../images/h2.png") no-repeat scroll bottom right/contain;
  z-index: -1;
  -webkit-animation-name: up-down;
          animation-name: up-down;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.btn-1 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  background-color: transparent;
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  color: #000;
  border: 2px solid #e8b01d;
  border-radius: 0;
  padding: 10px 20px;
  letter-spacing: 1px;
}

.btn-1:hover {
  color: #000 !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn-2 {
  background: #fa482b;
  border: 2px solid #e8b01d;
  border-radius: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
}

.btn-2:hover {
  color: #fff !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.mb-80 {
  margin-bottom: 80px;
}

.social-links li {
  padding: 0 1pc;
}

.social-links li a {
  color: #ffffff80;
}

header {
  padding: 10px 0;
  background-color: transparent;
  width: 100%;
  top: 0;
  z-index: 66;
  left: 0;
  position: absolute;
}

header.qr_code-header .navbar-collapse ul li a.nav-link {
  color: #000 !important;
}

header.donate-header .navbar-collapse form {
  display: none;
}

header.donate-header .navbar-collapse ul,
header.donate-header .collapse ul {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

header.donate-header .navbar-collapse ul li a.nav-link,
header.donate-header .collapse ul li a.nav-link {
  color: #000 !important;
}

header .social-links {
  border-right: 2px solid #fff;
  padding-right: 7px;
}

header .social-links li {
  height: 37px;
  width: 37px;
  border: 1px solid transparent;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background-color: transparent;
}

header .social-links li:hover {
  border-color: #fff;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

header .social-links a {
  color: #fff;
}

header .topbar {
  padding: 0 0 7px;
}

header .topbar .header-info {
  padding-right: 1pc;
}

header .topbar .header-info li {
  padding: 0 0 0 1pc;
  font-size: 15px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .topbar .header-info li a {
  color: #fff;
}

header .topbar .header-info li i {
  margin-right: .6pc;
  color: #fff;
}

header nav.navbar {
  position: static;
  padding-bottom: 0;
  padding-right: 0;
}

header .navbar-brand {
  margin: 0 !important;
  padding: 0;
}

header .navbar-brand img {
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #fff;
}

header .navbar-toggler span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .btn-2 {
  font-size: 14px;
  font-weight: 600;
}

header .navbar-collapse ul li a.nav-link {
  position: relative;
}

header .navbar-collapse ul li a.nav-link:before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  border-bottom: 2px solid #e8b01d;
  width: 0%;
}

header .navbar-collapse ul li a.nav-link:hover:before {
  width: 100%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

header .navbar-collapse,
header .collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .navbar-collapse ul,
header .collapse ul {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar-collapse ul li:last-child a.nav-link,
header .collapse ul li:last-child a.nav-link {
  margin-right: 0;
}

header .navbar-collapse ul li a.nav-link,
header .collapse ul li a.nav-link {
  color: #fff !important;
  font-size: 17px;
  font-weight: 600;
  margin: 0 20px;
  padding: 0;
  letter-spacing: 1px;
}

.title-section > span {
  color: #fa482b;
  font-weight: 700;
  position: relative;
}

.title-section > span:before {
  position: absolute;
  width: 3pc;
  bottom: -4px;
  right: -18px;
  content: '';
  border-bottom: 3px solid #fa482b;
}

.title-section h4 {
  margin: 0;
  display: block;
  font-size: 35px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.title-section h4 span {
  font-weight: 600;
  color: #e8b01d;
}

.title-section p {
  text-align: center;
}

ul {
  margin: 0 !important;
  padding: 0;
}

ul li {
  list-style: none;
}

.home-slider .home-slider-inner {
  height: 90vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-slider .swiper-button-prev {
  left: 0;
  border-radius: 0px 20px 20px 0px;
}

.home-slider .swiper-button-next {
  right: 0;
  border-radius: 20px 0px 0px 20px;
}

.home-slider .swiper-button-prev,
.home-slider .swiper-button-next {
  background-color: #e8b01d;
  color: #fff;
  height: 65px;
  width: 45px;
}

.home-slider .swiper-button-prev:after,
.home-slider .swiper-button-next:after {
  display: none;
}

.home-slider .swiper-button-prev i,
.home-slider .swiper-button-next i {
  font-size: 20px;
}

footer {
  background: #000 url("../images/footer-bg.png") no-repeat scroll center/contain;
  -o-border-image: linear-gradient(90deg, #e8b01d 40%, #5ac434 100%);
     border-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #e8b01d), to(#5ac434));
     border-image: linear-gradient(90deg, #e8b01d 40%, #5ac434 100%);
  border-top: 20px solid transparent;
  border-image-slice: 1;
  position: relative;
  padding: 4pc 0 1pc;
}

footer .btn-1 {
  color: #fff;
}

footer .btn-1:hover {
  color: #fff !important;
}

footer ::-webkit-input-placeholder {
  font-size: 13px;
  font-weight: 500;
}

footer :-ms-input-placeholder {
  font-size: 13px;
  font-weight: 500;
}

footer ::-ms-input-placeholder {
  font-size: 13px;
  font-weight: 500;
}

footer ::placeholder {
  font-size: 13px;
  font-weight: 500;
}

footer .input-group {
  background-color: transparent;
  border-bottom: 1px solid #ffffff80;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer .input-group .form-control {
  border: 0;
  background-color: transparent;
}

footer .input-group .input-group-append {
  margin: 0;
}

footer .form-control {
  font-size: 15px;
  font-weight: 500;
}

footer hr {
  border-color: #fff;
  border-style: dashed;
  margin-top: 2pc;
}

footer p,
footer a {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}

footer .footer-text .social-links {
  margin-top: 15px;
}

footer .footer-text .social-links ul {
  padding: 0px;
  margin: 0px;
}

footer .footer-text .social-links ul li {
  cursor: pointer;
}

footer .footer-text .social-links ul li a:hover {
  color: #e8b01d;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .footer-text h3 {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 20px;
  color: #fff;
}

footer .footer-text h3:before {
  position: absolute;
  width: 3pc;
  bottom: -4px;
  right: -18px;
  content: '';
  border-bottom: 3px solid #e8b01d;
}

footer .footer-text p {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .footer-text p i {
  line-height: 27px;
}

footer .footer-text p:last-child {
  margin: 0;
}

footer .footer-text p span {
  font-weight: 600;
}

footer .footer-text a:hover {
  color: #e8b01d;
}

footer .footer-logo a.navbar-brand img {
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .copyright {
  text-align: center;
}

footer .copyright p {
  margin: 0;
}

footer .copyright p a {
  font-weight: 600;
  color: #e8b01d;
}

footer .copyright p a:hover {
  text-decoration: none;
}

::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  color: #495057 !important;
}

:-ms-input-placeholder {
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  color: #495057 !important;
}

::-ms-input-placeholder {
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  color: #495057 !important;
}

::placeholder {
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  color: #495057 !important;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

:focus:-ms-input-placeholder {
  opacity: 0;
}

:focus::-ms-input-placeholder {
  opacity: 0;
}

:focus::placeholder {
  opacity: 0;
}

textarea:active,
input:active,
textarea:focus,
input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.col-adjust {
  padding: 0px 35px;
}

p {
  color: gray;
  font-size: 15px;
  line-height: 27px;
}

a.navbar-brand {
  margin: 0;
  padding: 0;
}

.about-sec p:last-child {
  margin: 0;
}

.about-sec.about-intro .about-sec-left:before {
  height: 100%;
  left: -3pc;
  bottom: -3pc;
  width: 100%;
  content: '';
  position: absolute;
  width: 82%;
  background: #fcf0cb;
  z-index: -1;
}

.about-sec .title-section h4 {
  margin-bottom: 1pc;
}

.about-sec .btn-2 {
  background-color: transparent;
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  color: #000;
}

.about-sec .about-sec-left img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-sec .about-sec-right p {
  margin-bottom: 30px;
}

.join-banner {
  background: url("../images/slide5.jpg") no-repeat fixed center/cover;
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  text-align: left;
  -webkit-box-shadow: inset 0px 0px 0px 200px #25e0f52c;
          box-shadow: inset 0px 0px 0px 200px #25e0f52c;
  border: 10px solid #e8b01d;
  border-left: 0;
  border-right: 0;
}

.join-banner h4 {
  background-color: #000;
  padding: 20px 30px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1pc;
}

.join-banner h3 {
  margin-left: 30px;
}

.join-banner h3 .btn-2 {
  background-color: #000;
  border-color: #fff;
}

.activity-inner {
  overflow: hidden;
  background-color: #fff;
}

.activity-inner:hover img {
  -webkit-filter: brightness(1);
          filter: brightness(1);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.activity-inner .activity-absolute {
  padding: 1pc 2pc;
  display: none;
}

.activity-inner .activity-absolute p {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
}

.activity-inner .activity-absolute a {
  color: gray;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
}

.activity {
  padding: 2pc 0;
  background-color: #fcf0cb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.activity .activity-swiper {
  padding-bottom: 3pc;
}

.activity .activity-swiper .swiper-pagination {
  bottom: 0 !important;
}

.activity .activity-swiper .swiper-pagination-bullet-active {
  background-color: #fa482b;
}

.activity .title-section h4 {
  font-weight: 600;
}

.activity .title-section h3 {
  margin-right: 2pc;
}

.activity .title-section h3 .btn-1 {
  background-color: #fcf0cb;
  border-color: #fcf0cb;
  color: #000;
  font-size: 16px;
}

.activity img {
  height: 100%;
  width: 100%;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.activity-page img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.activity-page .activity-inner {
  -webkit-box-shadow: 0px 0px 3px lightgray;
          box-shadow: 0px 0px 3px lightgray;
  margin-bottom: 2pc;
}

.service-sec .service-sec-inner {
  position: relative;
}

.service-sec .service-sec-inner:before {
  content: '';
  position: absolute;
  height: 40%;
  width: 100%;
  top: 9pc;
  left: 0;
  background: #fcf0cb;
  z-index: -1;
}

.service-sec .service-sec-inner .title-section img {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  border: 3px solid transparent;
  -webkit-box-shadow: 0px 0px 3px 4px #80808070;
          box-shadow: 0px 0px 3px 4px #80808070;
}

.service-sec .service-sec-inner .title-section .service-sec-title {
  margin-top: -4pc;
  margin-bottom: 3pc;
}

.service-sec .service-sec-inner .title-section .service-sec-title h4 {
  font-weight: 700;
}

.service-sec .service-sec-inner .title-section .service-sec-title h4 span {
  color: #fff;
}

.service-sec .service-sec-inner .title-section .service-sec-title > span {
  font-weight: 500;
  font-style: italic;
}

.service-sec .service-sec-inner .service-comm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 20px;
  border: 2px solid transparent;
  margin-bottom: 3pc;
  position: relative;
  -webkit-box-shadow: 0px 0px 3px #80808078;
          box-shadow: 0px 0px 3px #80808078;
  height: 10pc;
}

.service-sec .service-sec-inner .service-comm:hover {
  border-color: #fa482b;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-sec .service-sec-inner .service-comm:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.service-sec .service-sec-inner .service-comm i {
  font-size: 25px;
  color: #fa482b;
  position: absolute;
  top: -1pc;
  left: -1pc;
  background-color: #fff;
  height: 40%;
  width: 20%;
  border: 1px solid #fa482b;
  border-radius: 0px 37px 37px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-sec .service-sec-inner .service-comm h4 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.service-sec .service-sec-inner .service-comm p {
  text-align: center;
  margin: 0;
  font-weight: 500;
}

.service-area img {
  height: 100%;
  width: 100%;
}

.service-area .service-area-title {
  max-width: 700px;
  margin: 0 auto 1pc;
  text-align: center;
}

.service-area .service-area-title p {
  font-weight: 500;
  font-style: italic;
}

.service-area .service-area-left p {
  font-size: 16px;
  color: #000;
}

.service-area .service-area-left ul {
  padding-left: 1pc;
}

.service-area .service-area-left ul li {
  color: gray;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 1pc;
}

.service-area .service-area-left ul li i {
  color: #e8b01d;
  margin-right: 10px;
}

.pb-80 {
  padding-bottom: 80px;
}

a:hover {
  color: #e8b01d;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.contact-form:before {
  background-color: #fcf0cba1;
  content: '';
  position: absolute;
  top: 3pc;
  left: 12pc;
  height: 85%;
  width: 65%;
}

.contact-form .title-section {
  margin-bottom: 1pc;
}

.contact-form .title-section h4 {
  font-size: 26px;
  letter-spacing: 0;
  margin-bottom: 10px;
}

.contact-form .title-section .line {
  background: #e8b01d;
  height: 4px;
  width: 12%;
}

.contact-form .contact-form-right {
  padding: 2pc 3pc;
  -webkit-box-shadow: 0px 0px 5px #80808066;
          box-shadow: 0px 0px 5px #80808066;
}

.contact-form .contact-form-right form ::-webkit-input-placeholder {
  font-size: 13px;
  font-weight: 500;
}

.contact-form .contact-form-right form :-ms-input-placeholder {
  font-size: 13px;
  font-weight: 500;
}

.contact-form .contact-form-right form ::-ms-input-placeholder {
  font-size: 13px;
  font-weight: 500;
}

.contact-form .contact-form-right form ::placeholder {
  font-size: 13px;
  font-weight: 500;
}

.contact-form .contact-form-right form .form-control {
  font-size: 15px;
  font-weight: 500;
  border-width: 0 0 1px 0 !important;
  border-color: #000;
  background-color: transparent;
}

.contact-form .contact-form-right form .btn-1 {
  font-size: 15px;
  padding: 10px 40px;
}

.contact-form .contact-form-right form label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.contact-form .contact-form-left li {
  background: #000;
  padding: 1pc;
  margin-bottom: 1pc;
  font-weight: 500;
  letter-spacing: 1px;
  border: 1px dashed #fff;
}

.contact-form .contact-form-left li div p {
  font-size: 12px;
  text-decoration: underline;
}

.contact-form .contact-form-left li p,
.contact-form .contact-form-left li a,
.contact-form .contact-form-left li i {
  color: #fff;
}

.contact-form .contact-form-left li p {
  margin: 0;
}

.contact-form .contact-form-left li > p {
  margin-left: 1.8pc !important;
}

.contact-form .contact-form-left li i {
  margin-right: 10px;
  line-height: 27px;
}

.page-banner {
  background: #fa482b url("../images/banner2.jpg") no-repeat fixed center/cover;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: inset 0px 0px 0px 200px #25e0f52c;
          box-shadow: inset 0px 0px 0px 200px #25e0f52c;
}

.page-banner .page-benner-inner {
  height: 4.3pc;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 7px double #e8b01d;
  padding: 0 1pc;
  text-align: center;
  bottom: -2pc;
  position: absolute;
}

.page-banner .page-benner-inner h4 {
  margin: 0pc 0 0;
  font-size: 2pc;
  font-weight: 600;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #e8b01d;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.join-quote h4 {
  color: gray;
  font-size: 2pc;
  margin: 0;
}

.join-quote p {
  color: #000;
  font-weight: 600;
  margin: 0;
}

.join-form {
  padding: 3pc 0;
  background-color: #fcf0cba1;
  border: 7px dashed #fff;
  border-left: 0;
  border-right: 0;
}

.join-form .form-control {
  font-size: 15px;
  font-weight: 500;
}

.join-form .btn-1 {
  background-color: #e8b01d;
}

.join-form img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.join-form form {
  background-color: transparent;
}

.join-form form label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.join-form form textarea:active,
.join-form form input:active,
.join-form form textarea:focus,
.join-form form input:focus {
  -webkit-box-shadow: inset 0px 0px 5px 2px #e8b01d4d !important;
          box-shadow: inset 0px 0px 5px 2px #e8b01d4d !important;
  border-color: #ced4da !important;
}

.join-img {
  text-align: center;
}

.join-img img {
  height: 100%;
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.text-black {
  color: #000000c2;
}

.qr-page {
  background: url("../images/donate-bg.jpg") no-repeat fixed right center/35%;
  padding: 5pc 0 4pc;
}

.qr-page:before {
  pointer-events: none;
  background-color: #fcf0cba1;
  height: 100%;
  width: 65%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.qr-page .donate-right {
  margin-left: auto;
  margin-top: 3pc;
  width: 70%;
  padding: 3px;
}

.qr-page .donate-right img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  z-index: 5;
}

.donate-page {
  background: url("../images/donate-bg.jpg") no-repeat fixed right center/35%;
  padding: 5pc 0 5pc;
}

.donate-page ul.navbar-nav {
  margin-bottom: 2pc !important;
  position: relative;
  z-index: 2;
}

.donate-page ul.navbar-nav a {
  color: #000;
}

.donate-page ul.navbar-nav li {
  font-weight: 600;
  margin: 0 1pc;
}

.donate-page:before {
  pointer-events: none;
  background-color: #fcf0cba1;
  height: 100%;
  width: 65%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.donate-page img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.donate-page ::-webkit-input-placeholder {
  font-size: 13px;
  font-weight: 500;
}

.donate-page :-ms-input-placeholder {
  font-size: 13px;
  font-weight: 500;
}

.donate-page ::-ms-input-placeholder {
  font-size: 13px;
  font-weight: 500;
}

.donate-page ::placeholder {
  font-size: 13px;
  font-weight: 500;
}

.donate-page .form-group,
.donate-page .input-group {
  margin-bottom: 1.3rem;
}

.donate-page .input-group {
  background-color: #fff;
  border: 1px solid #ced4da;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.donate-page .input-group .form-control {
  border: 0;
  padding: .375rem 0;
}

.donate-page .input-group .input-group-prepend {
  padding: 0 .75rem;
  margin: 0;
}

.donate-page .title-section {
  margin-bottom: 1.5pc;
}

.donate-page .title-section > span {
  color: #000;
  font-size: 25px;
}

.donate-page .title-section > span:before {
  border-color: #e8b01d;
}

.donate-page form {
  background-color: #fff;
  -webkit-box-shadow: 6px 11px 24px 0 #171f2566;
          box-shadow: 6px 11px 24px 0 #171f2566;
}

.donate-page form .form-inner {
  padding: 2pc 2pc;
}

.donate-page form .form-control {
  border-radius: 0;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
}

.donate-page form .fotm-btn .btn-2 {
  background-color: #e8b01d;
  color: #fff;
}

.donate-page form .fotm-btn .btn-2:hover {
  color: #fff !important;
}

.donate-page .donate-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.donate-page .donate-img span.text-black i {
  font-size: 30px;
}

.donate-page .donate-img p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.donate-page .donate-img img {
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.donate-page .donate-img img:not(:first-child) {
  margin-top: 5pc;
}

.donate-page .donate-img img:first-child {
  border: 4px double lightgray;
  background-color: #fff;
}

.donate-page img.donate-logo {
  height: 100px;
}

.donate-page .social-links li {
  margin: 0 1pc 0 0;
  height: 43px;
  width: 43px;
  border: 1px solid #e8b01d;
  background-color: #e8b01d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.donate-page .social-links p {
  font-size: 15px !important;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.donate-page .social-links a {
  color: #fff;
}

.donate-page .social-links a:hover {
  color: #fff;
}

.donate-page .donate-contact h3 {
  font-size: 22px;
  font-weight: 600;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 20px;
}

.donate-page .donate-contact h3:before {
  position: absolute;
  width: 3pc;
  bottom: -4px;
  right: -18px;
  content: '';
  border-bottom: 3px solid #e8b01d;
}

.donate-page .donate-contact p {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 500;
  border-bottom: 1px dashed;
  padding-bottom: 10px;
}

.donate-page .donate-contact p i {
  line-height: 27px;
  color: #000;
}

.donate-page .donate-contact p:last-child {
  margin: 0;
}

.donate-page .donate-contact p span {
  font-weight: 600;
}

.donate-page .donate-contact a {
  color: gray;
}

.donate-page .donate-contact a:hover {
  color: #e8b01d;
}

.donate-page .title-section h4 {
  font-size: 27px;
}

@media only screen and (min-width: 400px) and (max-width: 576px) {
  .about-sec.about-intro .about-sec-left {
    margin: 0 !important;
    text-align: center;
  }
  .about-sec.about-intro .about-sec-left img {
    width: 70% !important;
    margin-bottom: 1pc !important;
  }
  .about-sec .about-sec-left {
    text-align: right;
    margin-top: -4pc;
  }
  .about-sec .about-sec-left img {
    width: 225px;
    margin: 0 !important;
  }
  footer .footer-logo a.navbar-brand img {
    width: 55%;
  }
  footer .col-12.justify-content-center {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    padding: 0px 35px;
  }
  .service-sec .service-sec-inner .title-section .service-sec-title {
    max-width: 405px;
    margin-left: auto;
    margin-right: auto;
  }
  .donate-page .col-adjust {
    padding: 0 35px !important;
  }
}

@media only screen and (max-width: 576px) {
  .mb-80 {
    margin-bottom: 40px !important;
  }
  .pb-80 {
    padding-bottom: 40px;
  }
  .about-sec .about-sec-left img {
    margin-top: 2pc;
  }
  .join-banner h4 {
    padding: 15px;
    font-size: 20px;
    max-width: 90%;
    margin-bottom: .5pc;
  }
  .join-banner h3 {
    margin-left: 15px;
    margin-bottom: 0;
  }
  .service-sec .title-section img {
    height: 200px !important;
    width: 200px !important;
  }
  .service-sec .title-section h4 span {
    color: #000 !important;
    font-weight: inherit !important;
  }
  .service-sec .service-comm {
    margin-bottom: 2pc;
  }
  footer {
    padding: 2pc 0 1pc;
  }
  footer .footer-text {
    margin-bottom: 2pc;
  }
  .page-banner .page-benner-inner {
    height: 4pc;
  }
  .page-banner .page-benner-inner h4 {
    font-size: 1.5pc;
  }
  .service-area .service-area-title h4 {
    text-align: left;
  }
  .service-area .service-area-title p {
    text-align: right;
  }
  .join-quote {
    margin-top: 4pc;
  }
  .join-quote h4 {
    font-size: 22px;
    text-align: justify !important;
    margin-bottom: 1pc;
    text-transform: capitalize;
    font-weight: 600;
  }
  .join-form .row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .join-form img {
    display: none;
  }
  .join-form h4 {
    margin-bottom: 1pc;
  }
  .join-img img {
    width: 100%;
  }
  .contact-form {
    overflow-x: hidden;
    margin-top: 4pc;
  }
  .contact-form .col-adjust {
    padding: 0 15px !important;
  }
  .contact-form:before {
    left: 0;
    display: none;
  }
  .donate-page {
    padding: 8pc 0 3pc;
    background-size: 40% 100%;
  }
  .donate-page .row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .donate-page .col-adjust {
    padding: 0 15px;
  }
  .donate-page .donate-top {
    display: none !important;
  }
  .donate-page form {
    margin-bottom: 2pc;
  }
  .donate-page .donate-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .donate-page .donate-img p {
    color: #000;
  }
  .donate-page .donate-img img:not(:first-child) {
    margin-top: 1pc;
    width: 100%;
  }
  .donate-page .donate-contact p,
  .donate-page .donate-contact a {
    color: #000;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  header .navbar-brand img {
    width: 100px !important;
  }
  .about-sec.about-intro .about-sec-left {
    margin: 0 !important;
    text-align: center;
  }
  .about-sec.about-intro .about-sec-left img {
    width: 70% !important;
    margin-bottom: 1pc !important;
  }
  .about-sec .about-sec-left {
    text-align: right;
    margin-top: -5pc;
  }
  .about-sec .about-sec-left img {
    width: 300px;
  }
  .join-banner h4 {
    max-width: 90%;
  }
  .service-sec .service-sec-inner .service-comm {
    height: 12pc;
  }
  .service-sec .service-sec-inner .service-comm i {
    border-radius: 0px 0px 37px 37px;
    width: 17%;
    height: 30%;
    font-size: 22px;
  }
  footer .col-adjust {
    padding: 0 15px;
  }
  footer .footer-text.text-center {
    margin-bottom: 2pc;
  }
  footer .footer-logo a.navbar-brand img {
    width: 55%;
  }
  .join-quote {
    margin-top: 4pc;
  }
  .join-quote h4 {
    margin-bottom: 1pc;
    text-transform: capitalize;
  }
  .join-form .row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .join-form img {
    display: none;
  }
  .join-form h4 {
    margin-bottom: 1pc;
  }
  .join-img img {
    width: 70%;
  }
  .donate-page {
    padding: 8pc 0 3pc;
    background-size: 35% 100%;
  }
  .donate-page .row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .donate-page .donate-top {
    display: none !important;
  }
  .donate-page form {
    margin-bottom: 2pc;
  }
  .donate-page .donate-contact p,
  .donate-page .donate-contact a {
    color: #000;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  header .navbar-brand img {
    width: 125px;
  }
  .service-sec .service-sec-inner .service-comm {
    height: 14pc;
  }
  .service-sec .service-sec-inner .service-comm i {
    width: 25%;
    height: 30%;
    font-size: 22px;
  }
  footer .footer-logo a.navbar-brand img {
    width: 100%;
  }
  .about-sec.about-intro .about-sec-left {
    text-align: left;
  }
  .about-sec.about-intro .about-sec-left img {
    width: 50%;
  }
  .join-img img {
    width: 60%;
  }
  .join-form .col-adjust {
    padding: 0 15px;
  }
  .contact-form .col-adjust {
    padding: 0 15px !important;
  }
  .contact-form .contact-form-left ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact-form .contact-form-left ul li {
    width: calc(50% - (15px));
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - (15px));
            flex: 0 0 calc(50% - (15px));
  }
  .donate-page {
    padding: 8pc 0 3pc;
    background-size: 35% 100%;
  }
  .donate-page .donate-top {
    display: none !important;
  }
  .donate-page .col-adjust {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 992px) {
  header .navbar-brand img {
    height: 100%;
    width: 90px;
  }
  header .mobile-overlay {
    background-color: #000000e6;
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0;
    left: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
  header .collapse {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    z-index: 88;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
  header .collapse ul {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    position: relative;
    z-index: 54;
    background-color: #fff;
  }
  header .collapse ul .nav-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 14px 20px;
    width: 100%;
  }
  header .collapse ul .nav-item.mobile-logo {
    text-align: center;
  }
  header .collapse ul .nav-item.mobile-logo .navbar-brand img {
    width: 43%;
  }
  header .collapse ul .nav-item a.nav-link {
    color: #000 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 !important;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 24px;
  }
  header .collapse ul .nav-item a.nav-link:before {
    content: '\27A4';
    color: #e8b01d;
    line-height: 24px;
    margin-right: 9px;
  }
  header.menu-show .navbar-toggler {
    position: fixed;
    top: 0;
    right: 0;
    padding: 14px 20px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  header.menu-show .navbar-toggler i {
    color: #000;
    font-size: 30px;
  }
  header.menu-show .mobile-overlay {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  header.menu-show .collapse {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.7s ease 500ms;
    transition: all 0.7s ease 500ms;
  }
  header.donate-header a.navbar-brand {
    display: block;
  }
  header .navbar-toggler {
    position: relative;
    z-index: 100;
    width: 100%;
    padding: 0;
  }
  header .navbar-toggler span {
    margin-left: auto;
  }
  header .navbar-toggler i {
    color: #fff;
    font-size: 25px;
  }
  header nav.navbar .navbar-collapse {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-toggler,
  .collapse,
  .mobile-overlay {
    display: none;
  }
  .donate-header a.navbar-brand {
    display: none;
  }
  .donate-header .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .service-sec .col-adjust {
    padding: 0 15px !important;
  }
}
/*# sourceMappingURL=main.css.map */